<div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="col-auto mt-3">
        <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Classes.ClassExams'"></span>
        </div>
        <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Classes.ClassExamsSingular'"></span>
        </div>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.exams && this.exams.selected && this.exams.selected.length"
           class="text-danger text-decoration-none mr-2 mt-2" [routerLink]="" (click)="remove()">
          <span>-</span><span>&nbsp;</span><span [translate]="'Classes.Remove'"></span>
        </a>
        <a class="text-indigo text-decoration-none mt-2" [routerLink]="" (click)="getExamAdditionConfirmation()">
          <span>+</span><span>&nbsp;</span><span [translate]="'Classes.AddExam'"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12 mb-4">
          <app-advanced-table #exams (load)="onDataLoad($event)" [selectable]="true" [height]="600"  [showfooter]="false"></app-advanced-table>
      </div>
  </div>
  <router-modal></router-modal>
</div>
