<ng-container *ngIf="tableConfiguration">
  <app-advanced-list [tableConfiguration]="tableConfiguration"></app-advanced-list>
</ng-container>
<app-attachment-direct-download></app-attachment-direct-download>
