<div *ngIf="degree" class="card">
  <div class="card-body">
    <ng-container *ngIf="lastError">
      <!--show error-->
      <div class="row mb-3">
        <div class="alert alert-warning" role="alert">
          <span>{{ 'Students.Degree.Error' | translate }}</span><br>
          <small *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></small>
          <small *ngIf="lastError.status == null">{{lastError.message}}</small>
        </div>
      </div>
    </ng-container>

    <div class="form-group row">
      <div class="col-auto">
        <span class="text-secondary" [translate]="'Students.Degree.PotentialGrade'"></span>
      </div>
      <div class="col-auto">
        <h5 [ngClass]="{'text-secondary': requirementsAreMet === null || !degree?.formattedGrade,
                        'text-danger': requirementsAreMet !== null && !requirementsAreMet && degree?.formattedGrade,
                        'text-success': requirementsAreMet !== null && requirementsAreMet}">{{ degree?.formattedGrade || "-" }}
        </h5>
      </div>
    </div> 

    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Students.Degree.CalculationRules'"></h5>
    <div id="group-list"  class="flex-column mb-5" *ngIf="degree && degree?.calculationRules?.length; else noRules">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <div class="sis--list-group-item_lg_column d-md-block text-left" [translate]="'Students.Degree.CalculationRuleType'"></div>
            <div class="sis--list-group-item_sm_column d-md-block text-left" [translate]="'Students.Coefficient'"></div>
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let rule of degree.calculationRules">
          <div class="d-flex justify-content-between align-items-center list-color">
            <div class="sis--list-group-item_lg_column d-md-block text-left"><span class="text-secondary">{{'Students.Degree.CalculationRuleTypes.' + (rule?.ruleType?.alternateName || '-') | translate  }}</span></div>
            <div class="sis--list-group-item_sm_column d-md-block text-left"><span class="text-secondary">{{ (rule?.coefficient | number) || '-' }}</span></div>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noRules>
      <div class="form-group row">
        <div class="col-auto"><span class="text-dark" [translate]="'Students.Degree.NoCalculationRules'"></span></div>
      </div>
    </ng-template>

    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Students.Degree.LastObligation'"></h5>
    <div *ngIf="degree?.lastObligation?.type === 'StudentCourse'; else elseType" class="form-group row">
      <div class="col-auto">
        <span class="text-secondary" [translate]="'Students.Course'"></span>
      </div>
      <div class="col-auto">
        <span class="text-dark">{{ degree?.lastObligation?.object?.gradeExam?.description || degree?.lastObligation?.object?.gradeExam?.name }}</span>
      </div>
    </div>
    <ng-template #elseType>
      <div class="form-group row">
        <div class="col-auto">
          <span class="text-secondary" [translate]="'Students.Type'"></span>
        </div>
        <div class="col-auto">
          <span *ngIf="degree?.lastObligation?.type === 'Internship'" class="text-dark"><a [routerLink]="['/internships', degree?.lastObligation?.object?.id, 'preview', 'general']">{{ 'Students.Degree.LastObligationTypes.Internship' | translate }}</a></span>
          <span *ngIf="degree?.lastObligation?.type === 'StudentThesis'" class="text-dark"><a [routerLink]="['/theses', degree?.lastObligation?.object?.thesis, 'dashboard', 'students']">{{ 'Students.Degree.LastObligationTypes.StudentThesis' | translate }}</a></span>
          <span *ngIf="!degree?.lastObligation?.type" class="text-dark">-</span>
        </div>
      </div>
    </ng-template>
    <div class="form-group row">
      <div class="col-auto">
        <span *ngIf="degree?.lastObligation?.type === 'StudentCourse'; else elseDate" class="text-secondary" [translate]="'Students.ResultsDate'"></span>
        <ng-template #elseDate ><span class="text-secondary" [translate]="'Students.Degree.LastObligationDate'"></span></ng-template>
      </div>
      <div class="col-auto">
        <span class="text-dark">{{ (degree?.lastObligation?.resultDate | date:'shortDate') || "-" }}</span>
      </div>
    </div>
  </div>

  <div class="card-footer border-top">
    <span class="text-secondary text-justify" [translate]="'Students.Degree.PotentialGradeInfo'"></span>
  </div>
</div>

