<div class="col-12 tab-navbar tab-container" *ngIf="departments">
  <ul class="nav nav-tabs d-flex mb-3">
    <li class="nav-item">
      <a class="nav-link" [translate]="'Departments.Overview'" [routerLink]="['general']"
        [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [translate]="'Departments.UsersList'" [routerLink]="['users']"
         [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [translate]="'History'" [routerLink]="['history']"
         [routerLinkActive]="'active'"></a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
