<div *ngIf="programGroup">
  <div class="card" *ngIf="programGroup?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'StudyPrograms.StudyProgramGroupInfo'"></h5>
    </div>
    <div class="card-footer border-top py-4 text-secondary">
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.GroupName'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{programGroup?.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.GroupDescription'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{programGroup?.description}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.StudyProgramPrintName'"></span>
        </div>
        <div class="col-7 text-dark">
          <span> {{programGroup?.program?.printName}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Status'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{'StudyPrograms.isActive.' + programGroup?.program?.isActive  | translate }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.StudyLevel'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{'StudyLevels.' + programGroup?.program?.studyLevel.alternateName | translate}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Semesters'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{programGroup?.program?.semesters}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DepartmentName'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{programGroup?.program?.department.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.DisplayCode'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{programGroup?.displayCode}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.GradeScale'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{programGroup?.gradeScale.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.MinCourses'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{programGroup?.minCourses}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.MaxCourses'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{programGroup?.maxCourses}}</span>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="card" *ngIf="thesis?.length == 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Exams.Info'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row">
        <div class="col-12  text-dark">
          <span [translate]="'Exams.NoGeneralInfo'"></span>
        </div>
      </div>
    </div>
  </div>-->
</div>
