<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [routerSearchState]>
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Candidates.Title'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Candidates.TitleSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.table && this.table.selected && this.table.selected.length"
           class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
          <span>-</span><span>&nbsp;</span><span [translate]="'Tables.RemoveItem'"></span>
        </a>
        <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
          <span>+</span><span>&nbsp;</span><span [translate]="'Tables.AddItem'"></span>
        </a>
      </div>

    </div>
    <div class="col-12 mb-4">
      <app-advanced-table #table [autoLoad]="false" [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
