<form class="mt-3 collapsible-form ">
  <div class="row">
    
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="studentfamilyname" [translate]="'Students.FamilyName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="studentfamilyname" name="studentfamilyname" type="text" [(ngModel)]="model.student.person.familyName">
      </div>
    </div>

    <div class="col-3">
      <div class="form-group text-dark">
        <label for="studentgivenname" [translate]="'Students.GivenName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="studentgivenname" name="studentgivenname" type="text" [(ngModel)]="model.student.person.givenName">
      </div>
    </div>

    <div class="col-3">
      <div class="form-group text-dark">
        <label for="registrationdate" [translate]="'Registrations.ListTable.RegistrationDate'"></label>
        <input [disabled]="true" class="form-control bg-white" id="registrationdate" name="registrationdate" type="text" [value]="model.registrationDate | date : 'shortDate'">
      </div>
    </div>

    <div class="col-3">
        <div class="form-group text-dark">
          <label for="studentstatus" [translate]="'Students.Status'"></label>
          <input [disabled]="true" class="form-control bg-white" id="studentstatus" name="studentstatus" type="text" [value]="'RegistrationStatus.' + model.status.alternateName | translate">
        </div>
      </div>

  </div>

  <div class="row">

    <div class="col-3">
      <div class="form-group text-dark">
        <label for="semester" [translate]="'Students.semester'"></label>
        <input [disabled]="true" class="form-control bg-white" id="semester" name="semester" type="text" [(ngModel)]="model.semester">
      </div>
    </div>
    
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="period" [translate]="'Labels.PeriodLabel'"></label>
        <input [disabled]="true" class="form-control bg-white" id="period" name="period" type="text" [value]="'Periods.' + model.registrationPeriod.alternateName | translate">
      </div>
    </div>

    <div class="col-3">
      <div class="form-group text-dark">
        <label for="academicyear" [translate]="'Labels.AcademicYear'"></label>
        <input [disabled]="true" class="form-control bg-white" id="academicyear" name="academicyear" type="text" [(ngModel)]="model.registrationYear.alternateName">
      </div>
    </div>

  </div>  
</form>
  