<div>
    <div class="row">
        <div class="col-auto">
            <h2 [translate]="'DataAvailabilityAttributes.Validation.Title'"></h2>
            <p [translate]="'DataAvailabilityAttributes.Validation.Description'"></p>
        </div>
    </div>
    <div class="mt-2 mb-4">
        <div class="card w-100">
            <div class="card-header pt-4 bg-light">
                <a class="text-decoration-none text-secondary" href="javascript:void(0)" (click)="showSearch = !showSearch">
                    <div class="d-flex">
                        <h3 id="search" class="font-weight-normal" [translate]="'DataAvailabilityAttributes.Validation.Search'"></h3> 
                        <div class="ml-auto text-secondary">
                            <ng-container [ngSwitch]="showSearch">
                                <ng-container *ngSwitchCase="true">
                                    <i class="far fa-2x fa-minus-square"></i>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <i class="far fa-2x  fa-plus-square"></i>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-body p-0 card-form" [ngClass]="{ 'd-none': !showSearch }">
                <advanced-form-edit (customEvent)="onCustomEvent($event)" #formComponent [formName]="'Students/inspectDegree'"></advanced-form-edit>
            </div>
        </div>
    </div>
    <ng-container *ngIf="results">
        <div class="card">
            <div class="card-header pt-4 bg-light">
                <h3 id="results" class="font-weight-normal" [translate]="'DataAvailabilityAttributes.Validation.Results'"></h3> 
            </div>
            <div class="card-body">
                <ng-container *ngFor="let result of results;let index=index;">
                    <div>
                        <h4>{{'DataAvailabilityAttributes.Validation.DegreeTitle' | translate}} #{{index + 1}}</h4>
                        <ng-container *ngIf="(result.graduationOathDate == null) ||  (result.graduationOathDate != null && result.graduationOathDate < result.data_available_since)">
                            <div class="bt-2 mt-3 alert alert-warning" role="alert" [translate]="'DataAvailabilityAttributes.Validation.AvailabilityWarning'">
                              </div>
                        </ng-container>
                        <advanced-form-edit [data]="result" [formName]="'Students/inspectDegreeResult'"></advanced-form-edit>
                    </div>
                </ng-container>
                <ng-container *ngIf="results.length">
                    <div>
                        <h3 class="text-indigo font-weight-normal mb-4">{{'DataAvailabilityAttributes.Validation.InEnglish' | translate}}</h3>
                    </div>
                    <ng-container *ngFor="let result of results;let index=index;">
                        <div>
                            <h4>{{'DataAvailabilityAttributes.Validation.DegreeTitle' | translate}} #{{index + 1}}</h4>
                            <ng-container *ngIf="(result.graduationOathDate == null) ||  (result.graduationOathDate != null && result.graduationOathDate < result.data_available_since)">
                                <div class="bt-2 mt-3 alert alert-warning" role="alert" [translate]="'DataAvailabilityAttributes.Validation.AvailabilityWarning'">
                                  </div>
                            </ng-container>
                            <advanced-form-edit [data]="result" [formName]="'Students/inspectDegreeResultEn'"></advanced-form-edit>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ng-container>
    
</div>