<div class="col-12 tab-navbar tab-container">
  <ul class="nav d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['../']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Users.Title'"></span></a>
    </li>
  </ul>

  <div class="row pt-2 pb-2">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2" *ngIf="user">
        {{user.name}}
      </h1>
      <h1 class="my-auto px-0 py-2" *ngIf="isCreate">{{'Users.NewTitle' | translate}}</h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto" *ngIf="user">
      <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>