<div *ngIf="thesisResults" >
  <ul div *ngIf="thesisResults.length>0" class="sis--list-group sis--list-group-header">
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center">
        <div class="sis--list-group-item_lg_column" [translate]="'Theses.InstructorFullName'"></div>
        <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Theses.InstructorCategory'"></div>
        <!--<div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Theses.RoleName'"></div>-->
        <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Theses.Coefficient'"></div>
        <div class="sis--list-group-item_lg_column d-none d-xl-block" [translate]="'Theses.InstructorFormattedGrade'" [ngClass]="{
          'text-center': this.source === 'gradesTab',
          'text-right': this.source === 'overview'}"></div>
      </div>
    </li>
  </ul>
  <ul class="sis--list-group sis--list-group-body">
    <li *ngFor="let thesisResult of thesisResults" class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_lg_column ">
          {{thesisResult.instructor.familyName }} {{thesisResult.instructor.givenName}}
        </div>
        <div class="sis--list-group-item_lg_column d-none d-md-block">{{thesisResult.instructor.category}}</div>
        <div class="sis--list-group-item_lg_column d-none d-md-block">{{thesisResult.factor}}</div>
        <div *ngIf="this.source === 'gradesTab'" class="sis--list-group-item_lg_column d-none d-xl-block">
            <input *ngIf="gsIsNumeric" [disabled]="!editMode || !editableGrades" class="form-control bg-white text-right" type="text" 
              [(ngModel)]="thesisResult.formattedGrade">
            <select *ngIf="!gsIsNumeric" [disabled]="!editMode || !editableGrades" class="form-control form-select"
              [(ngModel)]="thesisResult.formattedGrade">
              <ng-container *ngFor="let gradeValue of gradeScaleValues">
                <option>{{ gradeValue }}</option>
              </ng-container>
            </select>
        </div>
        <div *ngIf="this.source === 'overview'" class="sis--list-group-item_lg_column d-none d-md-block text-right">{{thesisResult.formattedGrade}}</div>
      </div>
    </li>
  </ul>

  <div class="mb-3 pt-3"  *ngIf="thesisResults.length === 0">
        <span [translate]="'Theses.NoInstructors'"></span>
  </div>
</div>
