<div>
  <div class="alert alert-info col-12 mt-4" [translate]="'Departments.UsersListInfo'"></div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Departments.UsersList'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal == 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Departments.UserSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.users && this.users.selected && this.users.selected.length"
        class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="removeUser()">
        <span>-</span><span>&nbsp;</span><span *ngIf="this.users.selected.length === 1; else removeUsers" [translate]="'Departments.RemoveUser'"></span>
        </a>
        <ng-template #removeUsers>
          <span [translate]="'Departments.RemoveUserPlural'"></span>
        </ng-template>
        <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
        <span>+</span><span>&nbsp;</span><span [translate]="'Departments.AddUser'"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4 pl-0">
      <app-advanced-table [selectable]="true" [showFooter]="false" (load)="onDataLoad($event)" #users
      [height]="600"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
