<div class="row mt-4" *ngIf="model">
  <div class="col-12 mb-3">
      <div class="card-body p-0">
        <form-collapsible [collapsed]="false">
          <form-header>
            <span [translate]="'Courses.CourseInfo'"></span>
          </form-header>
          <form-body>
            <app-courses-course-info-form [model]="model"></app-courses-course-info-form>
          </form-body>
        </form-collapsible>
      </div>
  </div>
  <div class="col-12 mb-3">
      <div class="card-body p-0">
        <form-collapsible [collapsed]="false">
          <form-header>
            <span [translate]="'Courses.MoreDetails'"></span>
          </form-header>
          <form-body>
            <app-courses-course-details-form [model]="model"></app-courses-course-details-form>
          </form-body>
        </form-collapsible>
      </div>
  </div>
</div>
