<div *ngIf="enrollmentEvent">

  <div class="card">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Candidates.RequestPeriod'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="row">
        <div class="col">{{ 'Candidates.ValidFrom' | translate }} {{ (enrollmentEvent?.validFrom | date:'shortDate') || '-' }}
        {{ 'Candidates.ValidThrough' | translate }} {{ (enrollmentEvent?.validThrough | date:'shortDate') || '-' }}</div>
      </div>
      <div class="row pt-2">
        <div class="col">{{ 'Candidates.StudyProgram' | translate }}
           {{ enrollmentEvent?.studyProgram?.name}}</div>
      </div>
   </div>
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Candidates.SubmissionDocuments'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="form-group text-dark">
        <div *ngIf="enrollmentEvent?.attachmentTypes?.length > 0" id="group-list"  class="flex-column">
          <ul class="sis--list-group sis--list-group-body">
            <li class="sis--list-group-item" *ngFor="let attachment of enrollmentEvent?.attachmentTypes">
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis--list-group-item_lg_column d-block "><span class="text-dark">{{ attachment?.attachmentType?.name }}</span></div>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="enrollmentEvent?.attachmentTypes?.length === 0" id="group-list"  class="flex-column">
          <div class="col-auto text-dark pl-3">
            <span [translate]="'Candidates.NoDocuments'"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Candidates.InscriptionModes'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="form-group text-dark">
        <div *ngIf="enrollmentEvent?.inscriptionModes?.length > 0" id="group-list"  class="flex-column">
          <ul class="sis--list-group sis--list-group-body">
            <li class="sis--list-group-item" *ngFor="let inscriptionMode of enrollmentEvent?.inscriptionModes">
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis--list-group-item_lg_column d-block "><span class="text-dark">{{ inscriptionMode.name }}</span></div>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="enrollmentEvent?.inscriptionModes?.length === 0" id="group-list"  class="flex-column">
          <div class="col-auto text-dark pl-3">
            <span [translate]="'Candidates.AllInscriptionModes'"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Candidates.Articles'"></h5>
    </div>
    <div class="card-body pt-0 pb-3" *ngIf="enrollmentEvent.articles && enrollmentEvent.articles.length>0">
      <div class="text-secondary" [translate]="'Candidates.ArticlesInfo'"></div>
      <div id="group-list"  class="flex-column">
        <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-header">
          <li class="sis&#45;&#45;list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis&#45;&#45;list-group-item_sm_column d-none d-md-block text-left" [translate]="'Settings.Attributes.inLanguage'"></div>
              <div class="sis&#45;&#45;list-group-item_lg_column d-none d-xl-block text-left" [translate]="'Settings.Attributes.title'"></div>
              <div class="sis&#45;&#45;list-group-item_md_column d-none d-xl-block text-left" [translate]="'Settings.Attributes.status'"></div>
            </div>
          </li>
        </ul>
        <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-body" *ngIf="enrollmentEvent?.articles?.length > 0">
          <li class="sis&#45;&#45;list-group-item" *ngFor="let article of enrollmentEvent?.articles">
            <div class="d-flex justify-content-center align-items-center list-color ">
              <div class="sis--list-group-item_sm_column text-truncate text-lg-left"><span class="text-dark">{{'Languages.'+ article.inLanguage | translate}}</span></div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block text-lg-left"><span class="text-secondary">{{ article.name }}</span></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block text-truncate text-lg-left"><span class="text-secondary">
                  {{'ActionStatusTypes.' + article.actionStatus.alternateName | translate}}</span></div>

            </div>
          </li>
        </ul>

    </div>
  </div>
    <div class="card-body pt-0 pb-3" *ngIf="enrollmentEvent.articles && enrollmentEvent.articles.length===0">
      <div class="text-secondary" [translate]="'Candidates.NoArticles'"></div>
    </div>
</div>
